* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Josefin Sans", serif;
}

p {
    font-size: 16px;
}

span,
.author {
    color: #a435f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid rgb(216, 216, 216);
    box-shadow: 3px 0px 10px rgb(184, 184, 184);
}

.navbar img {
    width: 8%;
}

.navbar__s2 {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    width: 40%;
    display: flex;
    gap: 15px;
}

.navbar__s2 input {
    width: 100%;
    border: none;
    font-size: 16px;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3,
.navbar__s4 {
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.navbar__s5{
    display: none;
}

.mylearning{
    position: relative;
}

.mylearning__pop{
    position: absolute;
    padding: 15px;
    width: 140px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background-color: black;
    display: none;
}

.mylearning:hover .mylearning__pop{
    display: block;
}

.section-category {
    padding: 17px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.section-category p {
    padding: 10px 15px;
    background-color: #a435f0;
    color: white;
    border-radius: 25px;
    border: 1px solid #a435f0;
    transition: 0.2s;
    cursor: pointer;
}

.section-category p:hover{
    background-color: white;
    color: black;
    transform: scale(1.3);
}

.section-banner__img{
    position: relative;
}

.section-banner__img img {
    width: 100%;
}

.position{
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    position: absolute;
    top: 50px;
    left: 100px;
}

.position p{
    margin-top: 15px;
    line-height: 22px;
}

.animation img{
    width: 25%;
    position: absolute;
    top: 40px;
    left: 583px;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
  }

.section__heading {
    text-align: center;
    margin: 35px 10px;
}

.section__heading h3 {
    color: rgb(98, 98, 98);
}

/* ------------------ recommended course -----------------*/

.course-card {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-card__model {
    width: 280px
}

.course-card__model img {
    width: 100%;
}

.course-card__model>img, h3, p {
    margin-bottom: 6px;
}

/* --------------------- recommended topics ---------------- */

.section-topic__recommended {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.section-topic__recommended p {
    padding: 15px;
    border: 1px solid #cfd8df;
    box-shadow: 3px 3px 10px #e2ebf2;
    flex-grow: 1;
    flex-basis: 20%;
    text-align: center;
    transition: 0.5s;
}

.section-topic__recommended p:hover{
    background-color: #ceefff;
    border: 1px solid #8fdaff;
    transform: translateY(-12px);
    box-shadow: 5px 5px 15px #ceefff;
}

.section-recommended,
.section-topic,
.section-popular,
.section-review {
    padding: 35px;
}

.section_title {
    margin-bottom: 35px;
}

/* -------------------- review testimonial container ---------------- */

.section-review__container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.section-review__content img {
    width: 20px;
    margin-bottom: 15px;
}

.section-review__content p {
    margin-bottom: 15px;
}

.section-review__content {
    padding: 25px;
    border: 1px solid #b5d3e8;
    flex-basis: 20%;
    flex-grow: 1;
}

/* ----------------- student & users count --------------------------- */

.section-count {
    padding: 30px;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    color: #a435f0;
    background-color:#e2ebf2;
}



.section-count h1 {
    font-size: 50px;
    text-align: center;
}

.section-count p {
    margin-bottom: 0;
    text-align: center;
}

/* ------------------------ top clients --------------------------------- */

.section-client {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    color: rgb(231, 231, 231);
    background-color: black;
    margin-top: 25px;
    text-align: justify;
    border-bottom: 1px solid rgb(159, 159, 159);
}

.section-client h3 {
    padding: 10px;
    line-height: 25px;
}

.color-light {
    color: #d69aff;
}

.section-client__logo img {
    margin: 2px;
}

/* ------------------------- footer ------------------------------- */

.section-footer__align {
    color: rgb(232, 232, 232);
    padding: 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    background-color: black;
    line-height: 26px;
    border-bottom: 1px solid rgb(159, 159, 159);
}

.footer__s1 h3 {
    color: #d69aff;
}

.copyright {
    background-color: black;
    padding: 20px 35px;
    color: white;
    display: flex;
    align-items: baseline;
    gap: 15px;
}

@media screen and (min-width:601px) and (max-width: 998px) {

    /* .navbar__s2, */
    .navbar__s3,
    .navbar__s4 {
        display: none;
    }

    .navbar__s5{
        display: block;
        font-size: 25px;
    }

    .navbar img {
        width: 20%;
    }

    .section-category {
        display: none !important;
    }

    .animation img {
        display: none;
    }

    .section_title {
        margin-bottom: 20px;
    }

    .course-card{
        gap: 35px;
    }

    .course-card__model{
        flex-grow: 1;
    }

    .section-review__content {
        flex-basis: 40%;
        flex-grow: 1;
    }

    .section-count h1{
        font-size: 35px;
    }
}

@media screen and (max-width: 600px){

    h1{
        font-size: 1.5em;
    }

    h3{
        font-size: 1.15em;
    }

    .navbar__s2,
    .navbar__s3,
    .navbar__s4 {
        display: none;
    }

    .navbar__s5{
        display: block;
        font-size: 25px;
    }

    .navbar img {
        width: 30%;
    }


    .section-category {
        display: none !important;
    }

    .position {
        padding: 10px;
        position: static;
        border: none;
        background-color: transparent;
    }

    .animation img {
        width: 25%;
        top: 15px;
        left: 60px;
    }

    .section__heading {
        display: none;
    }

    .section_title {
        margin-bottom: 20px;
    }

    .course-card__model{
        flex-grow: 1;
    }

    .section-count {
        gap: 30px;
    }

    .section-review__content {
        flex-basis: 50%;
        flex-grow: 1;
    }

    .section-client__logo{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .footer__s1{
        flex-basis: 40%;
    }

    .section-footer__align {
        padding: 20px;
    }
}



